# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# NextAuth (Github)
# -----------------------------------------------------------------------------
GITHUB_ID=
GITHUB_SECRET=

# -----------------------------------------------------------------------------
# NextAuth (Apple)
# -----------------------------------------------------------------------------
APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

# -----------------------------------------------------------------------------
# NextAuth (Auth0)
# -----------------------------------------------------------------------------
AUTH0_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=

# -----------------------------------------------------------------------------
# NextAuth (Facebook)
# -----------------------------------------------------------------------------
FACEBOOK_ID=
FACEBOOK_SECRET=

# -----------------------------------------------------------------------------
# NextAuth (Google)
# -----------------------------------------------------------------------------
GOOGLE_ID=
GOOGLE_SECRET=

# -----------------------------------------------------------------------------
# NextAuth (Twitter)
# -----------------------------------------------------------------------------
TWITTER_ID=
TWITTER_SECRET=

# -----------------------------------------------------------------------------
# Preview URL
# -----------------------------------------------------------------------------
PREVIEW_URL_SECRET=

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_URL=sqlite://localhost/:memory:?synchronize=true

# -----------------------------------------------------------------------------
# Secret
# -----------------------------------------------------------------------------
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32