# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# -----------------------------------------------------------------------------
# NextAuth (Github)
# -----------------------------------------------------------------------------
GITHUB_ID=
GITHUB_SECRET=
GITHUB_ACCESS_TOKEN=

# -----------------------------------------------------------------------------
# Next Cloudinary
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# -----------------------------------------------------------------------------
# Preview URL
# -----------------------------------------------------------------------------
PREVIEW_URL_SECRET=

# -----------------------------------------------------------------------------
# Email (Sendgrid)
# -----------------------------------------------------------------------------
EMAIL_FROM=
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_URL=sqlite://localhost/:memory:?synchronize=true
MONGODB_URI=
MONGODB_DATABASE=

# -----------------------------------------------------------------------------
# Secret
# -----------------------------------------------------------------------------
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32