body {
  font-family: "Inter", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  padding: 5rem;
  max-width: 80vw;
  margin: 0 auto;
}

img {
  position: relative !important;
}
