body {
  font-family: "Inter", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  padding: 0 1rem 1rem 1rem;
  max-width: 680px;
  margin: 0 auto;
  background: #fff;
  color: #333;
}

* {
  box-sizing: border-box;
}

img {
  position: relative !important;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #3b3b3b;
}

input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

input:focus {
  outline: none;
  border-color: #0070f3;
}

button {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0060e9;
}
